@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.planets{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    animation: bounce 2s linear;
}
.planets div img{
    animation: spin 5s infinite linear;
}
.system{
    height: 90vh;
    margin-top: 30px;
    padding-bottom: 20px;
    animation: bounce 3s linear;
    overflow: auto;
}
.system-title{
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
.system-title h3{
    color: #FAAD14;
}
.system-title img{

    filter: saturate(3);
    margin: 10px;
}
.wallSystem{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes spin{
    0%{
        transform: rotate(360deg);
    }
}
.map{
    width: 100%;
    max-width: 800px;
}
.status{
    margin: 20px auto;
    border: 1px solid #FAAD14;
    border-radius: 5px;
    padding: 10px;
}
strong{
    color: #FAAD14;
}
img{
    border-radius: 5px;
}
.more{
    background-color: #FAAD14;
    color: #181818;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.5s;
}
.more:hover{
    opacity: 0.9;
    color: white;
}
.system-sign{
    width: 100%;
    margin: 20px auto;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.planets .mary{
    width: 100%;
    margin: 10px;
    cursor: pointer;
    background: url("https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif");
    max-width: 150px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #FAAD14;
    align-items: center;
    border: 1px solid #202020;
    transition: all 0.5s;
    border-radius: 5px;
}
.planets .mary img{
    transition: all 0.5;

    animation: bright 5s infinite linear;
}

@keyframes bright{
    0%{
        filter: saturate(4);
        transform: rotate(360deg);
    }
    25%{
        filter: saturate(1);
    }
    50%{
        filter: saturate(2);
    }
    100%{
        filter: saturate(3);
    }
}
.collapse{
    width: 100%;
    max-width: 900px;
    background: url("https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif");
    background-size: cover;
    background-repeat: repeat;
    margin: 10px auto;
}
.planets .mary:hover{
    transform: scale(1.1);
    background-color: #191919;
    border: 1px solid #61dafb;
}
.tentips{
    margin-top: 20px;
}
.tentips .tipsCard{
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}
@keyframes bounce{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width: 645px){
    .planets{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .system{
        overflow: auto;
    }
}

@media(max-width: 489px){
    .planets{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
@media(max-width: 472px){
    .planets{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
@media(max-width: 320px){
    .planets{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(min-width: 768px){
    .planets{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}