
.content {
  height: 90vh;
  margin-top: 20px;
  width: 100%;
  overflow: auto;
  animation: bounce 1s linear;
}

.content h1 {
  font-family: "Exo", sans-serif;
  text-align: center;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  align-items: center;
  background-size: 80%;
}

.apod {
  margin: 30px auto;
  display: flex;
  width: 90%;
  justify-content: center;
  max-width: 900px;
  text-align: center;
}

.apod img {
  width: 65%;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info button {
  margin-top: 13px;
}

.main {
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
}

.tempy {
  width: 90vw;
  max-width: 540px;
  margin: 20px auto;
  text-align: center;
}

.tempy img {
  width: 100%;
  border-radius: 5px;
}

@media (max-width: 526px) {
  .apod {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .apod img {
    width: 100%;
    margin-top: 20px;
  }
}

.notfound {
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
  align-items: center;
}

.notfound img {
  margin-top: 10px;
}

.welcome h2 {
  font-family: Roboto Mono, sans-serif;
  text-align: end;
  margin-right: 10px;
  line-height: 10px;
}
