@import url('https://fonts.googleapis.com/css2?family=Exo&family=Nunito&family=Poppins&display=swap');
@import './keyframes.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #22201E;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 550px) {
  ::-webkit-scrollbar {
    z-index: 1;
    background: transparent;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #EF9906;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0px 0px;
  }
}

/*Cars animations*/

.asteroid {
  position: absolute;
  animation: spin 7s linear infinite;
}

.star {
  animation: bounce 1s linear infinite;
}