@import url('https://fonts.googleapis.com/css2?family=Exo&family=Nunito&family=Poppins&display=swap');
@import './keyframes.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #161311;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 50%;
  }
}

.spin {
  animation: spin 5s infinite linear;
}