@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import './keyframes.css';
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

@media (min-width: 500px) {
  :not(body)::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  :not(body)::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(71, 180, 184);
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 50%;
  }
}

.spin {
  animation: spin 5s infinite linear;
}
