.planet {
  display: grid;
  grid-template-rows: 1fr auto;
}

.planet-content {
  padding: 0 0 40px;
  overflow: hidden auto;
}

.planet-content .description {
  color: #d8a454;
  padding: 15px 15px 0;
  text-align: justify;
}

.planet-content .overview {
  display: grid;
  place-items: center;
  width: 100%;
  height: 60vh;
  margin: 0 auto;
  font-family: Exo, sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.planet-content .overview h1 {
  color: #fff;
  font-size: 2.5rem;
}
