.news {
  display: grid; 
  padding: 15px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr;
}


@media(max-width: 700px){
  .news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 425px){
  .news{
    display: grid;
    grid-template-columns: 1fr;
  }
}