.graduacao {
    position: absolute;
    display: flex;
    top: 0;
}

.graduacao li {
    list-style: none;
}
.menu_icon{
    width: 40px;
}
.list{
    display: flex;
    flex-direction: column;
}
.list-item{
    font-size: 1.7rem;
    font-weight: 600;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    font-family: Archivo, sans-serif;
    width: 100%;
}
.list-item img{
    margin-right: 20px;
    width: 35px;
}
.logoDrawer {
    width: 100px;
    text-align: center;
}

.linkMenu {
    font-size: 13px;
    margin-left: 15px;
    font-family: "Exo", sans-serif;
    padding: 7px 10px;
    display: flex;
    transition: all 0.4s;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.linkMenu img {
    width: 26px;
    margin-right: 10px;
}
.logoW{
    font-family: Roboto Mono, sans-serif;
    font-size: 23px;
    color: #ff9900;
    align-items: center;
    display: flex;
    
}

.linkMenu:hover {
    color: white;
    background: #ff9900;
    border-radius: 5px;
}

.largy {
    margin-top: 50px;
}

.locality {
    padding: 10px;
    text-align: center;
}

.logoConteiner {
    display: flex;
    justify-content: center;
}
.menu_icon{
    width: 30px;
}
.iconDrawer {
    margin-right: 10px;
}

.drawerButton {
    width: 60px;
    display: flex;
    justify-content: flex-end;
}

@media( min-width: 1011px) {
    .drawerButton {
        display: none;
    }
}

@media(max-width: 425px){
    .logoW{
        font-size: 18px;
    }
}