.link-menu {
    font-size: 13px;
    margin-left: 15px;
    font-family: Open Sans, sans-serif;
    padding: 7px 10px;
    border-radius: 5px;
    display: flex;
    transition: all 0.4s;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;

    color: whitesmoke;
}

.link-menu img {
    width: 22px;
    margin-right: 10px;
}

.link-menu:hover, .link-menu:focus {
    color: white;
    border: 1px solid #FF9900;
}

.item-menu {
    font-size: 1.7rem;
    font-weight: 600;
    color: #f5f5f5;
    display: flex;
    transition: all 0.4s;
    align-items: center;
    width: 100%;
}
.item-menu img {
    width: 30px;
    margin-right: 20px;
}