.universe{
    display: grid;
    height: 90vh;
    overflow: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    animation: bounce 2s linear;
}
@keyframes bounce{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.universe .mary{
    width: 100%;
    margin: 10px;
    background: url("https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif");
    max-width: 150px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #FAAD14;
    align-items: center;
    border: 1px solid #202020;
    transition: all 0.5s;
    border-radius: 5px;
}
.universe .mary img{
    transition: all 0.5;

    animation: bright 5s infinite linear;
}

@keyframes bright{
    0%{
        filter: saturate(4);
        transform: rotate(360deg);
    }
    25%{
        filter: saturate(1);
    }
    50%{
        filter: saturate(2);
    }
    100%{
        filter: saturate(3);
    }
}
.universe .mary:hover{
    transform: scale(1.1);
    background-color: #191919;
    border: 1px solid #61dafb;
}
@media(max-width: 425px){
    .universe{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}
@media(max-width: 320px){
    .universe .mary{
        max-width: 140px;
    }
}