.titlePlanets img { width: 70px; }

.system-title img {
  filter: saturate(3);
  margin: 10px;
}

.system-title {
  display: flex;
  font-size: 16px;
  align-items: center;
  font-family: Exo, sans-serif;
}

.system-title h3 {
  color: #faad14;
}

.wallSystem {
  font-family: Exo, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 100%;
  max-width: 800px;
}

.status {
  margin: 20px auto;
  border: 1px solid #faad14;
  border-radius: 5px;
  padding: 10px;
}

strong { color: #faad14; }

.more {
  background-color: #faad14;
  color: #181818;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s;
}

.more:hover {
  opacity: 0.9;
  color: white;
}

.system-sign {
  width: 100%;
  margin: 20px auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collapse {
  width: 100%;
  max-width: 900px;
  background-size: 80%;
  margin: 10px auto;
}

.tentips {
  margin-top: 20px;
}

.tentips .tipsCard {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

.titlePlanets {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
  font-family: Exo, sans-serif;
  text-align: center;
}

.titlePlanets h2 {
  color: #faad14;
  font-size: 20px;
}
