.page-back {
  display: flex;
  padding: 10px;
  align-items: center;
  column-gap: 20px;
}

.page-back-link {
  width: 30px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.page-back-title {
  font-family: Exo, sans-serif;
  margin: 0;
}

.page-back-title::first-letter { text-transform: uppercase; }
